@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* 🎨 Primaire */
  --color-primary: #1a3a60;
  --color-primary-light: #2b568a;
  --color-primary-dark: #0f253d;

  /* 🎨 Secondaire */
  --color-secondary: #d4eeff;
  --color-secondary-light: #e8f6ff;
  --color-secondary-dark: #a3d4f0;

  /* 🎨 Alternative */
  --color-alternative: #fab818;
  --color-alternative-light: #ffc94d;
  --color-alternative-dark: #c98e00;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
